@model string
<div class="form-group row">
    <div class="col-6 col-sm-4 col-lg-4 offset-sm-4 offset-lg-4">
        <a asp-action="Edit" asp-route-id="@Model" class="btn btn-primary form-control">Edit</a>
    </div>
    <div class="col-6 col-sm-4 col-lg-4 col-6 col-sm-4 col-lg-3">
        <a asp-action="Index" class="btn btn-info form-control">Back to List</a>
    </div>
</div>
